#!\bin\sh

setxkbmap si

xset s 300 300 +dpms
xset dpms 300 300 300

#xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock

dunst &

updatewal $HOME/slike/ozadja

compton -b

sudo xiccd &

dwmbar &

# To put focus on the main monitor at the start
xdotool mousemove 960 940
