#!\bin\sh

setxkbmap si

xset s 300 300 +dpms
xset dpms 300 300 300

#xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock

updatewal $HOME/slike/ozadja

compton -b

xcalib -d :0 $HOME/.color/benq_ZOWIE_xl2411_user.icm
